<div class="table-responsive table-bordered table-sm">
  <table class="table">
    <thead>
      <tr class="thead-default">
        <th></th>
        <th *ngFor="let price of exchange.prices">
          <share [share]=price.share></share>
          <br />
          <span class="badge badge-primary">
            {{price.value}}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let depot of exchange.depots">
        <th>
          <player [player]="depot.player"></player>
          <span class="badge badge-primary float-right">
            {{depot.credit}}
          </span>
        </th>
        <td *ngFor="let price of exchange.prices">
          {{exchange.getHolding(depot.player, price.share) || 0}}
        </td>
      </tr>
    </tbody>
  </table>
</div>