<span class="badge badge-default">
  <i class="fa fa-{{getIcon(transaction.op)}}" aria-hidden="true"></i>
  {{transaction.amount}}
</span>
&nbsp;
<div *ngIf="transaction.share; then showValue ; else showSelect"></div>
<ng-template #showValue>
    <share [share]="transaction.share"></share>
</ng-template>
<ng-template #showSelect>
    <div class="form-group">
      <label for=""></label>
      <select class="form-control" name="" id="">
        {{selectableShares}}
        <option *ngFor="let s of selectableShares">
            {{s.name}}
        </option>
      </select>
    </div>
</ng-template>