<span class="badge badge-default">
  <i class="fa fa-{{getIcon(transaction.op)}}" aria-hidden="true"></i>
  {{transaction.amount}}
</span>
&nbsp;
<div *ngIf="transaction.fixed; then showValue ; else showSelect"></div>
<ng-template #showValue>
    <share [share]="transaction.share"></share>
</ng-template>
<ng-template #showSelect>
    <span class="form-group">
      <select 
        class="form-control form-control-sm d-inline-block" 
        [(ngModel)]="share"
        (ngModelChange)="onSelectShare()"
        name="share" id="">
        <option [ngValue]="share">{{transaction.share ? transaction.share.name : ""}}</option>
        <option *ngFor="let s of selectableShares" 
          [ngValue]="s">
            {{s.name}}
        </option>
      </select>
    </span>
</ng-template>